<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Student-Study-Point</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Study Point</a>        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="books">Books</a>
                <a class="dropdown-item" href="wiki">Wikipedia</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="dictionary">Dictionary</a>
                <a class="dropdown-item" href="/youtube">Youtube</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="todo">To-do</a>
                <a class="dropdown-item" href="homework">Homework</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="notes">Notes</a>
                <a class="dropdown-item" href="conversion">Conversion</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br />
  <main>

    {% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} ">{{msg}}</div>
        {% endfor %}
        {% endif %}

    {% block content %}
    {% endblock content %}

  </main>
  <!-- Footer -->
<footer class="text-center text-lg-start m-3 bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom bg-dark">
    <!-- Left -->
    <div class="me-4 m-3 d-none d-lg-block ">
      <span style="font-size:1.5em ">Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/dancersanu9/" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FMindCrewTechno" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://mindcrewtech.com/" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/shanu_0.error/" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/me?trk=p_mwlite_feed_updates-secondary_nav" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/YogeshKumarPatel873" class="me-4 m-3 spinner-border text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="" style="background-color:aliceblue;">
    <div class="container text-center text-md-start ">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-2">
            <i class="fas fa-gem me-3"></i>Study Point
          </h6>
          <p>
          Study skills are an array of skills which tackle the process of organizing and taking in new information.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="notes" class="text-reset">Notes</a>
          </p>
          <p>
            <a href="youtube" class="text-reset">Youtube</a>
          </p>
          <p>
            <a href="wiki" class="text-reset">Wikipedia</a>
          </p>
          <p>
            <a href="todo" class="text-reset">To-Do</a>
          </p>
          <p>
            <a href="homework" class="text-reset">Homework</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://www.linkedin.com/me?trk=p_mwlite_feed_updates-secondary_nav" class="text-reset" target="_blank">My LinkdIn</a>
          </p>
          <p>
            <a href="https://github.com/YogeshKumarPatel873" class="text-reset" target="_blank">My Github</a>
          </p>
          <p>
            <a href="https://www.youtube.com/channel/UCFJx_3QZd0EL6r6FrhI_ZXw" class="text-reset" target="_blank">My Youtube</a>
          </p>
          <p>
            <a href="https://www.instagram.com/shanu_0.error/" class="text-reset" target="_blank">My Instagram</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Mind-Crew Technologies, CIS-Pardesipura , Indore</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            yogesh.patel@mindcrewtech.com <br>
            Shanuraghuwanshi873@gmail.com
          </p>
          
          <p><i class="fas fa-phone me-3"></i> +91-7000207480 </p>
          <p><i class="fas fa-print me-3"></i> +91-7000207480</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 1);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Mindcrewtechnologies.Pvt.Ltd</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>